.wrapper{style: 'background: white;'}
  .single-main
    %h2.single-head-registration  支払い方法
    = form_with id: "charge-form", url: "/card", method: :post, local: true do |f|
      .single-content
        .form-group
          %label.bold カード番号
          %span.form-require 必須
          %input.input-default.input-text{name: "cardnumber", placeholder: "半角数字のみ", type: "email", value: ""}
            %ul
              %li 
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2482339763", size: "49x20",alt:"visa"
              %li 
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2482339763", size: "34x20",alt:"master-card"
              %li 
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2482339763", size: "30x20",alt:"saison-card"
              %li 
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2482339763", size: "32x20",alt:"jcb"
              %li 
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2482339763", size: "21x20",alt:"american_express"
              %li 
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2482339763", size: "32x20",alt:"dinersclub"
              %li 
                =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2482339763", size: "32x20",alt:"discover"
        .form-group
          %label.bold 有効期限
          %span.form-require 必須
          .select-wrap
            .select-wrap-half
              = f.select :exp_month,[["01"], ["02"], ["03"], ["04"], ["05"], ["06"], ["07"], ["08"], ["09"], ["10"], ["11"], ["12"]],id:"exp_month"
              %i.fa.fa-angle-down
              %span
                月
            .select-wrap-half
              = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],id: "exp_year"
              %i.fa.fa-angle-down
          .security-code
          %h2 
            セキュリティーコード 
            %span 必須
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          .pop
          %i.fa.fa-question-circle 
          %h4{class: "popup"}
            カード裏面の番号とは？
          #card_token
          = submit_tag "次へ進む", id: "token_submit", class:"next--btn"
        