.header
  .box
    .boxtop
      .boxtop__img
        = image_tag "fmarket_logo_red.svg", class: "boxtop__img", alt:"logo"
      .boxtop__form
        = form_with(url: search_items_path, local: true, method: :get, id: "keyword") do |form| 
          = form.text_field :keyword, placeholder: "何かお探しですか？", class: "boxtop__form" 
          = button_tag type: "submit", class: "boxtop__form--icon" do
            %i.fa.fa-search
        %end
    - if user_signed_in?
      .myboxbar
        .myboxbar__list
          = link_to "#", class: "myboxbar__list" do
            = icon('fas', 'list-ul', class: 'myboxbar__list--icon')
            カテゴリーから探す
          = link_to "#", class: "myboxbar__list" do
            = icon('fas', 'tags', class: 'myboxbar__list--icon')
            ブランドから探す

        %ul.myboxbar_end
          %li.myboxbar_end--li
            = link_to "#", class: "myboxbar_end--li" do
              = icon('far', 'heart', class: 'myboxbar_end--li--icon')
              いいね！一覧
          %li.myboxbar_end--li
            = link_to "#", class: "myboxbar_end--li" do
              = icon('far', 'bell', class: 'myboxbar_end--li--icon')
              お知らせ
          %li.myboxbar_end--li
            = link_to "#", class: "myboxbar_end--li" do
              = icon('fas', 'check', class: 'myboxbar_end--li--icon')
              やることリスト
          %li.myboxbar_end--myli
            = link_to cards_index_path, class: "myboxbar_end--myli" do
              .myboxbar_end--myli--img
              マイページ
    - else
      .boxbar
        .boxbar__list
          = link_to "#", class: "boxbar__list" do
            = icon('fas', 'list-ul', class: 'boxbar__list--icon')
            カテゴリーから探す
          = link_to "#", class: "boxbar__list" do
            = icon('fas', 'tags', class: 'boxbar__list--icon')
            ブランドから探す
        .boxbar__end
          = link_to  new0_user_registration_path, class: "boxbar__end--sinup" do
            新規会員登録
          = link_to new_user_session_path, class: "boxbar__end--login" do
            ログイン
