.brandsheader
  .mybox
    .myboxtop
      = link_to root_path, class: "" do
        = image_tag "fmarket_logo_red.svg", class: "myboxtop__indeximg", alt:"logo"
      .myboxtop__form
        = form_with(url: search_items_path, local: true, method: :get, id: "keyword") do |form| 
          = form.text_field :keyword, placeholder: "何かお探しですか？", class: "myboxtop__form" 
          = button_tag type: "submit", class: "myboxtop__form--icon" do
            %i.fa.fa-search
        %end
    .myboxbar
      .myboxbar__list
        = link_to "#", class: "myboxbar__list" do
          = icon('fas', 'list-ul', class: 'myboxbar__list--icon')
          カテゴリーから探す
        = link_to brands_path, class: "myboxbar__list" do
          = icon('fas', 'tags', class: 'myboxbar__list--icon')
          ブランドから探す
      %ul.myboxbar_end
        %li.myboxbar_end--li
          = link_to "#", class: "myboxbar_end--li" do
            = icon('far', 'heart', class: 'myboxbar_end--li--icon')
            いいね！一覧
        %li.myboxbar_end--li
          = link_to "#", class: "myboxbar_end--li" do
            = icon('far', 'bell', class: 'myboxbar_end--li--icon')
            お知らせ
        %li.myboxbar_end--li
          = link_to "#", class: "myboxbar_end--li" do
            = icon('fas', 'check', class: 'myboxbar_end--li--icon')
            やることリスト
        %li.myboxbar_end--myli
          = link_to cards_index_path, class: "myboxbar_end--myli" do
            .myboxbar_end--myli--img
            マイページ
