.mymain

  .mycategory
    .sub-bar
      .sub-bar__list
        %ul.sub-bar__list__mypage1
          %li.sub-bar__list__mypage1--top
            = link_to "#", class: "sub-bar__list__mypage1--top" do
              #text
                マイページ
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--top--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                お知らせ
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                やることリスト
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                いいね！一覧
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to new_brand_path, class: "sub-bar__list__mypage1--box1" do
              #text
                出品する
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                出品した商品-出品中
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                出品した商品-取引中
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                出品した商品-売却済み
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                購入した商品-取引中
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                購入した商品-過去の取引
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                ニュース一覧
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                評価一覧
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                ガイド
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
          %li.sub-bar__list__mypage1--box1
            = link_to "#", class: "sub-bar__list__mypage1--box1" do
              #text
                お問い合わせ
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage1--box1--icon')
        %ul.sub-bar__list__mypage2
          %li.sub-bar__list__mypage2--second
            #text
              Fペイ
          %li.sub-bar__list__mypage2--box2
            = link_to "#", class: "sub-bar__list__mypage2--box2" do
              #text
                売上・振込一覧
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage2--box2--icon')
          %li.sub-bar__list__mypage2--box2
            = link_to "#", class: "sub-bar__list__mypage2--box2" do
              #text
                ポイント
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage2--box2--icon')
        %ul.sub-bar__list__mypage3
          %li.sub-bar__list__mypage3--third
            #text
              設定
          %li.sub-bar__list__mypage3--box3
            = link_to cards_editpro_path, class: "sub-bar__list__mypage3--box3" do
              #text
                プロフィール
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage3--box3--icon')
          %li.sub-bar__list__mypage3--box3
            = link_to "#", class: "sub-bar__list__mypage3--box3" do
              #text
                発送元・お届け先住所変更
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage3--box3--icon')
          %li.sub-bar__list__mypage3--box3
            = link_to cards_card_path, class: "sub-bar__list__mypage3--box3" do
              #text
                支払い方法変更
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage3--box3--icon')
          %li.sub-bar__list__mypage3--box3
            = link_to "#", class: "sub-bar__list__mypage3--box3" do
              #text
                メール/パスワード
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage3--box3--icon')
          %li.sub-bar__list__mypage3--box3
            = link_to home_show_path, class: "sub-bar__list__mypage3--box3" do
              #text
                本人情報
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage3--box3--icon')
          %li.sub-bar__list__mypage3--box3
            = link_to "#", class: "sub-bar__list__mypage3--box3" do
              #text
                電話番号の確認
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage3--box3--icon')
          %li.sub-bar__list__mypage3--box3
            = link_to images_path, class: "sub-bar__list__mypage3--box3" do
              #text
                ログアウト
              = icon('fas', 'chevron-right', class: 'sub-bar__list__mypage3--box3--icon')



    .container
      .content
        .content__top
          .userimage
            = link_to "#", class: "myimg" do
              .topimg
              %h2.myname
                = current_user.name
              .bottomimg
                評価　　　出品数
                
        .contentbox
          .content__todo
            .content__todo__tabs
              %input#tableft1{class: "tabswitch", checked: "checkedleft1", name: "content__todo__tabs__title", type: "radio"}
              %label.content__todo__tabs__title{for: "tableft1"}
                %h1 お知らせ
              %input#tabright1{class: "tabswitch", checked: "checkedright1", name: "content__todo__tabs__title", type: "radio"}
              %label.content__todo__tabs__title{for: "tabright1"} 
                %h1 やることリスト
            .content__todo__content
              %ul.content__todo__content__list
                %li#tableft1_content.content__todo__content__list__tag
                  = link_to "#", class: "" do
                    = image_tag "logo_red.svg", class: "", alt:"logo"
                    .content__todo__content__list__tag__box
                      .content__todo__content__list__tag__box__write
                        ポイントチャンス！！！
                      %time
                        ６時間前
                    = icon('fas', 'chevron-right', class: 'content__todo__content__list__tag--icon')
                %li#tableft1_content.content__todo__content__list__sum
                  = link_to "#", class: "" do
                    一覧を見る

                %li#tabright1_content.content__todo__content__list__tag
                  -# 何もありません




        .content__tab-container
          .content__tab-container__top
            %h1 購入した商品
          .content__tab-container__box
            .content__tab-container__box__tabs
              %input#tableft2{class: "tab-switch", checked: "checked" ,name: "content__tab-container__box__tabs__title", type: "radio"}
              %label.content__tab-container__box__tabs__title{for: "tableft2", checked: "checked"}
                %h1 取引中
              %input#tabright2{class: "tab-switch", name: "content__tab-container__box__tabs__title", type: "radio"}
              %label.content__tab-container__box__tabs__title{for: "tabright2"} 
                %h1 過去の取引
            .content__tab-container__box__content
              #tableft2_content.content__tab-container__box__content
                取引中のものはありません
              #tabright2_content.content__tab-container__box__content
                過去の取引はありません

